<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{/layout/basic.html}">
<head>
    <title>Member Join Page</title>
</head>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    회원가입.
                </div>
                <div class="card-body">
                    <form id="registerForm" action="/member/join" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">아이디</span>
                            <input type="text" name="mid" class="form-control" th:value="${memberJoinDTO == null ? '':memberJoinDTO.mid}">
                            <button type="button" class="btn btn-secondary confirmBtn">중복확인</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">비밀번호</span>
                            <input type="password" name="mpw" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">비밀번호 확인</span>
                            <input type="password" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">이름</span>
                            <input type="text" name="name" class="form-control" th:value="${memberJoinDTO == null ? '': memberJoinDTO.name}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">이메일</span>
                            <input type="text" name="email" class="form-control" th:value="${memberJoinDTO == null ? '':memberJoinDTO.email}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">주소</span>
                            <input type="text" name="addr" class="form-control" th:value="${memberJoinDTO == null ? '':memberJoinDTO.addr}">
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">회원가입</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">

    const formObj = document.querySelector("#registerForm")
    document.querySelector(".confirmBtn").addEventListener("click", function (e){
        console.log("click")
        e.preventDefault()
        e.stopPropagation()
        formObj.action="/member/confirm"
        formObj.method="post"
        formObj.submit()
    }, false)

    const error = [[${error}]]
    if(error && error==='mid'){
        alert("동일한 ID를 가진 계정이 존재합니다.")
    }

    const success = [[${success}]]
    if(success && success==='mid'){
        alert("만들 수 있는 ID 입니다.")
    }
</script>



</html>